* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main {

  display: flex;
  flex-direction: column;
  align-items: center;


}
h1 {

  font-size: 100px;
  margin-top: 50px;
}
img {
  width: 300px;
  margin-top: 50px;
}
button {

  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgba(53, 51, 51, 0.537);
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  
  


}